html{display: flex;justify-content:center;}
body
{
	font-size: 12px;
	width: 1024px;
	max-width: 100%;
	padding: 0 1em;
}
.navbar{padding-left: 0 !important;}
h2{background: #ccc;box-shadow: 2px 2px inset #555}
span{font-weight: bold;}
h2,h3,p{margin: 0;padding: .5em}
h2,h3{border-bottom: 1px solid #000}
ul
{
	display: flex;
	justify-content:space-between;
	margin: 0;
	padding: 0;
	flex-flow: row;
}
section li
{
	display: inline-flex;
	flex:1 25%;
	flex-flow: column;
	border:1px solid #000;
}
section li:first-child{	border-right: 0;}

aside > div:first-of-type{position: relative;display: flex !important; min-height: 500px}
@media screen and (max-width: 767px){
	
	ul{flex-flow: column;}
	section li{border:1px solid #000 !important}
	section li:first-child{	border-bottom: 0 !important;}
}